text {
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.node rect {
	stroke: #999;
	fill: #fff;
	stroke-width: 1.5px;
}

.edgePath path {
	/* stroke: #fff; */
	stroke: black;
	stroke-width: 1.5px;
}

.type, .activation {
	font-size: 16px;
	color: black;
	font-weight: bold;
}

g.type-MAX_POOL_2D > rect {
	fill: cadetblue;
}

g.type-AVERAGE_POOL_2D > rect {
	fill: cadetblue;
}

g.type-CONCATENATION > rect {
	fill: darkgoldenrod
}

g.type-SOFTMAX > rect {
	fill: darkred;
}

g.type-RESHAPE > rect {
	fill: darksalmon;
}

g.type-CONV_2D > rect {
	fill: dodgerblue;
}

.label {
	color: black;
}